/* ============ BASE STYLES AND VARIABLES ============ */
@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --main-color: #000032;
    --secondary-color: #a7bbe0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

h1, h2, h3, p {
    background-color: transparent;
}

h1, h2, h3 {
    font-family: "SUSE+Mono", Arial, Helvetica, sans-serif;
}

section {
    text-align: center;
    padding: 4rem 2rem;
}

section {
    opacity: 0;
    animation: fade-in 1s ease forwards;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}

section img {
    width: 100%;
    max-width: 400px;
    border-radius: 1rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

section h2 {
    margin-bottom: 1rem;
}

/* animation */
.fade-down {
    opacity: 0;
    transform: translateY(-15px);
    animation: fadeDown 1.5s ease forwards;
}

@keyframes fadeDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-up {
    opacity: 0;
    transform: translateY(30px);
    animation: fadeUp 1.2s ease forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}