*{
    margin:0;
    padding:0;
    background-color: black;
}
@font-face {
    font-family: ;
    src: url();
}
.nav{
    position:sticky;
    top:0;
}
.nav_image{
    width:240px;
    height:80px;
    margin-left: 80px;
}
.nav_item{
    position:sticky;
    float:right;
    top:auto;
}
.nav_item li{
    display:inline-block;
    margin-top:10px;
    margin-right:60px;
    position:sticky;
    top:10px;
}
.nav_item li a{
    font-size: 20px;;
    text-decoration:none;
    color:white;
    position:sticky;
    top:10px;
}
.nav_item li a:hover{
    color: #234383;
}
.nav_item li a:first-child{
    color:white;

}
.get_started{
    background-color:#234981;
    color:white;
    display:inline-block;
    padding: 10px 20px;
    border-radius:5px;
    border: 1px solid #234981;
}
.get_started:hover{
    background-color: white;
    color:#234981 !important;
    border:1px solid #234981
}

/*statt banner */
.banner{position:relative}
.banner_image{
    width:100%
}
.banner_text{
    position:absolute;
    top:50%;
    left:50%;
    text-align:center;
    color:white;
    background-color:none;
    
}
.banner_text h1{
    font-size:35px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
}
.banner_text p{
    font-size:20px;
    
}
.banner_text a{
    border: 1px solid #234981;
    background-color: #FFFFFF;
    color: #234981;
    padding: 10px 28px;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px !important;
}
/*end the banner*/
/*start the popular*/
.popular{
    width:80%;
    margin:auto;
    margin-top:80px;
    color:white
}
.popular_card{
    display:grid;
    grid-template-columns: auto auto auto;
    margin-top:20px;
    grid-gap:30px;
    margin-bottom:40px;
}
.popular_card img{
    width:100%;
}
.popular_item{
    border:1px solid #d7d7d7;
    padding: 5px;
    border-radius: 5px;
}
.popular_item h3,p{
    padding: 5px 15px;
    color:white;
}
.about{
    width:80%;
    margin:auto;
    margin-top:auto;
}
.about_image{
    float:left;
    margin-top:10px;
    width:50%;
    border-radius:5px;
    border: 1px solid black;
    padding:15px;
    margin-right:30px;
}
.about_text p{
    text-align:center;
    margin-bottom:60px;
}
.about_text{
    padding-left:10px;
}